<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
  </div>
  
  <div style="text-align:center">
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-10" type="search" name="Search Name" aria-label="Search" [(ngModel)]="name">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
    </form>
  
  </nav>
  
  
  
  <div class="card col-md-4" *ngFor="let challenge of challenges ">
    <div class="card-block">
        <mat-card>
            <mat-card-header>
             <!-- <mat-card-title></mat-card-title> -->
             
             
             <!-- <img src="{{movie.poster_path}}" alt="image not found"> -->
             </mat-card-header>
             <mat-card-content>
               
                <p>Id : {{challenge.id}}</p>
                
                  <p>Title : {{ challenge.name}}<p>
                    <p>Level:{{challenge.level}}</p>
                     <!-- <p>Description : {{challenge.challengeStamp}}</p> -->
  
             </mat-card-content>
             <mat-card-actions>
             
               <form class="form-inline">
                  <!-- <input class="form-control mr-sm-10" type="search" name="Search Name" aria-label="Search" [(ngModel)]="name"> -->
                <button class="mat-button" mat-button  type="submit" (click)="Attempt(challenge.id)">Attempt Challenge</button>
              
                </form>
              </mat-card-actions> 
             
            
          </mat-card>
          </div>
          </div>
                       
         
           
                
      
               
  
     

  
  
  
  
 
  </div>